<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function getSamples(){      // TO BE FIXED
            const from = document.getElementById("from").value;
            const to = document.getElementById("to").value;

            const container = document.getElementById("packet-data");

            container.innerHTML = "";

            fetch("/packets?'from'=" + from + "&'to'=" + to)
                .then(res => res.json())
                .then(data => {
                    let content = "";
                    data.packets.forEach(pkt => {
                        const pktElem = document.createElement("p");
                        const ascii = String.fromCharCode(...pkt.bytes);
                        pktElem.textContent = `packet n° ${pkt.n}: ${ascii}`;
                        container.appendChild(pktElem);
                    });
                });
        }

        window.onload = function() {
            getSamples();
        };
    </script>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top w-100">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <div class="d-flex align-items-center">
                            <input type="number" min="0" class="form-control me-2" id="from" placeholder="from...">
                        </div>
                    </li>
                    <li class="nav-item ms-3">
                        <div class="d-flex align-items-center">
                            <input type="number" min="1" class="form-control me-2" id="to" placeholder="to...">
                        </div>
                    </li>
                    <li class="nav-item ms-3">
                        <button class="btn btn-primary" onclick="getSamples()">Invia</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-8">
                <div id="packet-data" class="border p-3 bg-light">Caricamento...</div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="form-group">
                        <label for="port">Aggiungi una porta:</label>
                        <input type="number" min="0" id="port" name="port" class="form-control" />
                    </div>
                    <button onclick="addPort()" class="btn btn-primary btn-block">AGGIUNGI</button>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="port">Rimuovi una porta:</label>
                        <input type="number" min="0" id="port" name="port" class="form-control" />
                    </div>
                    <button onclick="removePort()" class="btn btn-danger btn-block">RIMUOVI</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function addPort() {
            const port = document.getElementById("port").value;

            fetch(`/services/${port}`, {
                method: "POST"
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                alert(JSON.stringify(data));
                location.reload();
            })
            .catch(err => console.error("Errore nella richiesta:", err));
        }

        function removePort() {
            const port = document.getElementById("port").value;

            fetch(`/services/${port}`, {
                method: "DELETE"
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                alert(JSON.stringify(data));
                location.reload();
            })
            .catch(err => console.error("Errore nella richiesta:", err));
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
